<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cdd.chongdiandian"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cdd.chongdiandian.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cdd.chongdiandian.InfoPageOneActivity"
            android:label="@string/title_activity_info_page_one" >
        </activity>
        <activity
            android:name="com.cdd.chongdiandian.OneKeyBuyActivity"
            android:label="@string/title_activity_one_key_buy" >
        </activity>
        <activity
            android:name="com.cdd.chongdiandian.ChoosePayActivity"
            android:label="@string/title_activity_choose_pay" >
        </activity>
        <activity
            android:name="com.cdd.chongdiandian.PiPeiListActivity"
            android:label="@string/title_activity_pi_pei_list" >
        </activity>
        <activity
            android:name="com.cdd.chongdiandian.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.cdd.chongdiandian.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="com.cdd.chongdiandian.MsgLoginActivity"
            android:label="@string/title_activity_msg_login" >
        </activity>
        <activity
            android:name="com.cdd.chongdiandian.ForgetCodeActivity"
            android:label="@string/title_activity_forget_code" >
        </activity>
        <activity
            android:name="com.cdd.chongdiandian.SetNewCodeActivity"
            android:label="@string/title_activity_set_new_code" >
        </activity>
        <activity
            android:name="com.cdd.chongdiandian.GoodDetailActivity"
            android:label="@string/title_activity_good_detail" >
        </activity>
        <activity
            android:name="com.cdd.chongdiandian.DealOrderActivity"
            android:label="@string/title_activity_deal_order" >
        </activity>
        <activity
            android:name="com.cdd.chongdiandian.ConfirmOrderActivity"
            android:label="@string/title_activity_confirm_order" >
        </activity>
        <activity
            android:name="com.cdd.chongdiandian.PetListSearchActivity"
            android:label="@string/title_activity_pet_list_search" >
        </activity>
        <activity
            android:name="com.cdd.chongdiandian.SetActivity"
            android:label="@string/title_activity_set" >
        </activity>
        <activity
            android:name="com.cdd.chongdiandian.WalletActivity"
            android:label="@string/title_activity_wallet" >
        </activity>
        <activity
            android:name="com.cdd.chongdiandian.DiscountActivity"
            android:label="@string/title_activity_discount" >
        </activity>
        <activity
            android:name="com.cdd.chongdiandian.MessageActivity"
            android:label="@string/title_activity_message" >
        </activity>
        <activity
            android:name="com.cdd.chongdiandian.AddressMangerActivity"
            android:label="@string/title_activity_address_manger" >
        </activity>
        <activity
            android:name="com.cdd.chongdiandian.AboutUsActivity"
            android:label="@string/title_activity_about_us" >
        </activity>
        <activity
            android:name="com.cdd.chongdiandian.FeedbackActivity"
            android:label="@string/title_activity_feedback" >
        </activity>
    </application>

</manifest>